main {
  margin-top: 60px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.group{
  display: flex; 
  flex-direction: row;
}

.item{
  flex: 1; 
  padding: 10px; 
  padding-bottom: 30px;
  padding-left: 20px;
}

.item-double{
  flex: 2; 
}
.group-tiny{
  background-color: #5c4f41;
  padding: 10px; 
}
.item-tiny{
  
  flex: 4; 
}



/* This is going to be for mobile */
@media all and (min-width: 800px){
  
}